html,
body,
.mainContainer {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 100vh;
  margin: 0 20px;
  font-family: 'Open Sans', sans-serif;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding-top: 80px;
  margin: 0 auto;
}

.avatar {
  width: 96px;
  height: 96px;
  margin: 0 auto;
  border-radius: 48px;
  background-size: cover;
}

h1 {
  font-size: 22px;
  text-align: center;
}

section {
  width: 100%;
  margin-top: 40px;
}

.link {
  display: block;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 16px;
  text-align: center;
  background-color: rgb(38, 101, 214);
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3) 0s;
}

.link:hover {
  transform: scale(1.02);
}

footer {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

footer a {
  color: lightgrey;
  text-decoration: none;
}
